################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
*.spv
/utilities.cmake
/ray_tracing_gltf/log_vk_ray_tracing_gltf_KHR.txt
